<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Path Builder</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="icon" href="https://ubcsailbot.github.io/docs/main/assets/images/favicon.png">
</head>
<body>
    <h1>Global Path Builder</h1>

    <!-- Map container -->
    <div id="map" style="height: 400px;"></div>

    <!-- Buttons -->
    <div>
        <button id="export_btn" title="Save path to a csv file" onclick="prompt_and_export()">Export Path</button>
        <button id="import_btn" title="Load path from a csv file" onclick="import_file()">Import Path</button>
        <button id="inter_btn" title="Interpolate between points spaced too far apart" onclick="interpolate()">Interpolate</button>
        <button id="clear_btn" title="Clear all waypoints from the map" onclick="clear_path()">Clear Path</button>
        <button id="undo_btn" title="Remove last waypoint" onclick="undo()">Undo</button>
        <button id="redo_btn" title="Redo last undo" onclick="redo()">Redo</button>
        <button id="delete_paths_btn" title="Delete all path files with a specified keyword in the filename" onclick="delete_paths()">Purge Paths</button>
        <button id="plot_btn" title="Plot path on a 3D globe" onclick="plot()">3D Plot</button>
    </div>

    <!-- Waypoints list -->
    <h2>Waypoints Table</h2>

    <table id="waypointsTable">
        <thead>
            <tr>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Waypoints will be added here dynamically -->
        </tbody>
    </table>
</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>
